<html>

<head>

</head>

<body>
	<form action="/dashboard" method="GET">
		<label for="username">Username:</label><br>
		<input type="text" id="username" name="uname"><br>
		<label for="password">Password:</label><br>
		<input type="password" id="password" name="pswd">
		<br>
		<input type="radio" name="cat" id="Professor"> Professor
		<br>
		<input type="radio" name="cat" id="Student"> Student
		<br>
		<input type="submit">
	</form>
	<a href="SignUp">SignUp</a>
</body>

</html>