<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


</head>

<body>

    <div class="container jumbotron">
        <div class="row  bg-primary">
            <h1 class="text-center">
                College.
            </h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="text-center">
                    Welcome Student!
                </h3>
                <h2 class="text-center text-primary">
                    Sign-Up
                </h2>
            </div>

        </div>
        <div class="row jumbotron">
            <div class="col">
                <form action="/SignUpStudentSubmit" method="GET" class="form form-group">
                    <label for="username" class="form">Username:</label><br>
                    <input type="text" id="username" name="username" class="form form-control"><br>
                    <label for="password" class="form">Password:</label><br>
                    <input type="password" id="password" name="password" class="form form-control">
                    <br>
                    <input type="submit" class="btn form btn-success" value="Sign Up">
                </form>
            </div>
        </div>
    </div>


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>

</html>