<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


    <title>
        Airports
    </title>

</head>

<body>
    <div class="container">
        <form action="/search">
            <div class="form-group">
                <input type="query" class="form-control" name="query">
            </div>
            <div class="radio form-group">
                <input type="radio" name="choice" value="airport"> Airport
                <br>
                <input type="radio" name="choice" value="country"> Country
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

    </div>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>

</html>